<h3>Différente statistiques du site</h3>

<ul>
		<li><%= link_to "Taux d'offre et de demande", :action => "offre_demande"%></li>
		<li><%= link_to "Taux de remplissage des voitures", :action => "taux_de_remplissage"%></li>
		<li><%= link_to "Nombre trajet par communauté", :action => "nombre_trajet_par_communaute"%></li>
		<li><%= link_to "Nombre inscrit par communauté", :action => "nombre_inscrit_par_communaute"%></li>

</ul>