<div id="quick-search-trip">
	<fieldset id="tripfield"> <legend>Trouvez un trajet</legend>
	<% form_tag :controller => "Trips", :action => "search" do %>
		<p> <label for="start_address">Lieu de départ</label><br/><%= text_field_tag :start_address, params[:start_address] %>
		</p>
		<p> <label for="end_address">Lieu de d'arrivé</label><br/><%= text_field_tag :end_address, params[:end_address] %>
		</p>
			<p> <label for="start_date">Date</label><br/>
			<select id="start_date" name="start_date[(1i)]">
				<option value="2005">2005</option>
				<option value="2006">2006</option>
				<option value="2007">2007</option>
				<option value="2008">2008</option>
				<option value="2009">2009</option>
				<option selected="selected" value="2010">2010</option>
				<option value="2011">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>
				<option value="2014">2014</option>
				<option value="2015">2015</option>
				</select>
				<select id="start_date_month" name="start_date[(2i)]">
				<option value="1">Janvier</option>
				<option value="2">Février</option>
				<option value="3">Mars</option>
				<option value="4">Avril</option>
				<option value="5">Mai</option>
				<option value="6">Juin</option>
				<option value="7">Juillet</option>
				<option value="8">Ao&ucirc;t</option>
				<option value="9">Septembre</option>
				<option value="10">Octobre</option>
				<option value="11">Novembre</option>
				<option selected="selected" value="12">Decembre</option>
				</select>
				<select id="start_date_day" name="start_date[(3i)]">
				<option value="1">1</option>
				<option value="2">2</option>
				<option selected="selected" value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
				</select></p>

		<p>
		<%= submit_tag "Rechercher"%>
		</p> 
		<% end %>
			</fieldset>
		<div class="clear"></div>
</div>
	<p class="helpme">Vous pouvez effectuer une recherche même si vous ne remplissez pas tous les champs. Les résultats correspondront au mieux à ce que vous cherchez</p>
