<h2>Liste des dossiers</h2>

<ul>
	<li><%= link_to 'Dossier Accessibilit&eacute;', :action => 'accessibilite' %></li>
	<li><%= link_to 'Dossier Mobility', :action => 'mobility' %></li>
	<li><%= link_to 'Dossier Persuasion', :action => 'persuasion' %></li>
</ul>