<h2>Bienvenue</h2>
<p><%= link_to "Dossier Accessibilité", :controller => "home", :action => "accessibilite" %></p>
<p class="note">
	Vous en rêviez...? Les Roadrunners l'ont fait ! Et pourtant, ils ne sont que trois... <em>Surprenant</em> non ?
</p>
<p> 
	Enfin un site complet destiné à organiser le co-voiturage entre les membres d'une m&ecirc;me communaut&eacute;. 
</p><br/>

<p>Les fonctionnalit&eacute;s disponibles sont :</p>
<ul id="presentation">
	<li>Cr&eacute;ation de compte (&eacute;galement possible via <strong>Facebook</strong> connect)</li>
	<li><strong>Recherche</strong> de trajet</li>
	<li>Recherche d'une <strong>communaut&eacute;</strong> existante</li>
	<li><strong>Proposition de trajet</strong>. Vous n'avez pas de véhicule et désirez faire de long trajet ? Pas de soucis !</li>
	<li>Cr&eacute;ation un nouveau trajet en tant que conducteur</li>
	<li>Possibilit&eacute; de <strong>visualiser les itin&eacute;raires</strong> sur une carte</li>
	<li>Demande d'ajout de d'<strong>&eacute;tapes</strong> au trajet. Si un utilisateur ne trouve pas de trajet qui passent exactement l&agrave; o&ugrave; il le souhaiterait, il peut sugg&eacute;rer au conducteur de faire un d&eacute;tour ou de s'arrêter &agrave; un endroit qui n'&eacute;tait pas pr&eacute;vu.</li>
	<li>Vous êtes conducteur et n'avez pas envie de faire de détour ? Et bien, refusez tout simplement ! Mais souvenez des gens qui ont accepté de faire un détour pour vous ! ;)</li>
	<li>Possibilit&eacute; de <strong>poster des avis</strong> et de <strong>noter</strong> chaque utilisateur</li>
	<li><strong>Suivi</strong> personnalis&eacute; de chaque utilisateur.</li>
	<li>Affichage de <strong>statistiques</strong> g&eacute;n&eacute;r&eacute;e depuis la base de donn&eacute;es (<strong>les donn&eacute;es ne sont pas factices</strong>) permettant de suivre l'&eacute;volution des communaut&eacute;s et des utilisateurs.</li>
	<li><strong>Forum</strong> permettant aux utilisateurs peu confiant souhaitant obtenir de l'information de poser des questions sur des sujets pr&eacute;cis</li>
	<li>Une version adapt&eacute;e pour les plateformes <strong>iOS</strong> et <strong>Android</strong> qu'elles aient le javascript activ&eacute; ou non. C'est &eacute;galement le cas pour la version desktop, elle fonctionne aussi bien sans javascript</li>
	<li>Des <strong>alternatives</strong> images et tabulaires sont propos&eacute;s lorsque le javascript est d&eacute;sactiv&eacute;</li>
</ul>
<a href="http://validator.w3.org/mobile/check?task=2010120306134877.mobile2&amp;docAddr=http%3A%2F%2Fnuit.heroku.com%2F"><img src="/images/mobileOK.gif" alt="" width="92" height="90"/></a>
