<h2>Pourquoi nous ?</h2>

<p>
	Allons droit au but. Notre application est optimisé pour la plus part des supports actuel et est accessibles par tous.
</p>

<ul>
	<li>
			Vous êtes sur un ordinateur de bureau avec le javascript activé ? Super ! Nous vous proposons des visualisations de données interactives avec d'agréables effects javacripts.
	</li>
	<li>
			Vous n'avez pas le javascript ? Ne vous en faites pas, nous proposons une alternative image pour la visualisation de nos données. Ah, vous êtes mal voyants et utilisez un lecteur d'écran. 				Pas de soucis, nous affichons également des tableaux et des descriptions pous nos données.</li>
	<li>
			En déplacement ? Vous voulez naviguer avec votre dernier Android/iPhone ? Nous avons optimisé notre site et avons mis en place une interface spéciale pour une navigation plus rapide et plus 			fluide.
	</li>
</ul>

